*{
    padding: 0px;
    margin: 0px;
}

body{
    width: 100%;
    max-width: 1000px;
    margin: auto;
}

header{
    display: inline-block;
    background-color: #d9d9d9;
    padding: 10px;
    width: 100%;
}

.logo{
    float: left;
}

nav{
    float: right;
}

nav ul{
    list-style: none;
}

nav ul li{
    float: left; 
    margin: 10px;
    padding: 10px;
}

nav ul li a{
    padding: 10px 20px;
    text-decoration: none;
    background-color: #8497B0;
    color: #f8f8f8;
}

nav ul li a:hover{
    padding: 10px 20px;
    text-decoration: none;
    background-color: #f8f8f8;
    color: #8497B0;
}

section{
    background-color: #f2f2f2;
    padding: 10px;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}

.section-item1{
    
}

.section-item1-image{
    width: 200px;
    height: auto;
    padding: 10px;
    
}

footer{
    background-color: #d9d9d9;
    padding: 10px;
    width: 100%;
}
