body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: blue;
  align-items: center;
}

a {
  color: #00B7FF;
}

h1 {
  color: red;
  text-align: center;
}

h2 {
  color: white;
  text-align: center;
}

h3 {
  color: white;
  text-align: center;
}

p {
  color: white;
  text-align: center;
}

.button {
  text-align: center;
}

table {
  color: white;
}

