* {
    margin: 0px;
    padding: 0px;
}

body{
    background-color: powderblue;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

h1{
    color: blue;
    font-size: 300%;
}

p{
    color: red;
    border: 3px solid;
    border-color: red;
    padding: 5px;
    margin-top: 5px;
    margin-right: 200px;   
}

button{
    background-color: sienna;
    color:black;
    padding: 5px;
}

button:hover{
    background-color: white;
    color: sienna;
}

 a#textlink:link, a#textlink:visited{
    background-color: sienna;
    color: black;
    padding:15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}

a#textlink:hover{
    background-color: white;
    color: sienna;
}

form{
    background-color: azure;
    width: 100%;
    max-width: 600px;
    margin: auto;
    align-items: center;
}

form p{
    width: 100%;
    border: none;
    color: black;
}

.txtinput {
    width: 70%;
    max-width: 500px;
    margin: 20px; 
    padding: 12px 12px;
    border: 1px solid grey;
    border-radius: 8px;
}

.txtinput label{
    display: block;
    text-align: left;
    font-size: 18px;
}

.txtinput input{
    width: 80%;
    border: none;
    background: none;
    outline: none;
    font-size: 14px;
    margin-top: 6px;
 }

 
.txtinput textarea{
    border: none;
    background: none;
    outline: none;
    font-size: 14px;
    margin-top: 6px;
}

#submitbutton{
    width: 100%;
    background-color: #111;
    color: white;
    font-size: 14px;
    margin-top: 8px;
    padding-top: 8px;
    padding-bottom: 8px;
    cursor: pointer;
}

#submitbutton:hover{
    background-color: #816b6b;
    color:#1e1e1e;
}

nav{
    margin-top: 0px;
    display: block;
    float: left;
    background-color: #ecdbdb;
    width: 100%;
}

nav ul{
    list-style: none;
    float: right;
    margin: 0px;
    padding: 0px;
}

nav ul li{
    float: left;
    background-color: black;
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
}

nav ul li a{
    text-decoration: none;
    font-size: 16px;
    color: blanchedalmond;
}

nav ul li a:hover{
    color: red;
}
